[submodule "git-deps/WiseEnum"]
	path = git-deps/WiseEnum
	url = git@github.com:quicknir/wise_enum.git
[submodule "polly"]
	path = polly
	url = git@github.com:madmongo1/polly.git
[submodule "git-deps/utfcpp"]
	path = git-deps/utfcpp
	url = git@github.com:AlexAndDad/utfcpp.git
[submodule "git-deps/boost-webclient"]
	path = git-deps/boost-webclient
	url = git@github.com:madmongo1/webclient.git
